In [41]:
import pandas as pd 
  
# reading csv file  
data = pd.read_csv("Data.csv")
data

           SDNN        RMSSD         Result  Unnamed: 3
0      4.405678     7.280110  Heart Failure         NaN
1     14.950883    26.416986  Heart Failure         NaN
2      1.959592     3.431877  Heart Failure         NaN
3    179.066021   283.322353  Heart Failure         NaN
4      0.892103     1.346291  Heart Failure         NaN
5    686.500000  1373.000000  Heart Failure         NaN
6      4.197773     6.794606  Heart Failure         NaN
7      4.955805     8.048464  Heart Failure         NaN
8     34.919942    52.060862         Normal         NaN
9      3.716401     6.315765  Heart Failure         NaN
10     1.682394     1.968502  Heart Failure         NaN
11    16.000000    12.000000  Heart Failure         NaN
12    19.000000    19.000000  Heart Failure         NaN
13    94.000000    19.000000  Heart Failure         NaN
14    93.000000    18.000000  Heart Failure         NaN
15    32.000000    18.000000  Heart Failure         NaN
16    32.000000    76.000000  Heart Failure         NaN
17    32.000000    19.000000         Normal         NaN
18    31.000000    19.000000  Heart Failure         NaN
19    33.000000    19.000000         Normal         NaN
20    40.000000    19.000000         Normal         NaN
21    70.000000    19.000000         Normal         NaN
22    90.000000    19.000000         Normal         NaN
23    93.000000    19.000000         Normal         NaN
24    32.000000    18.000000  Heart Failure         NaN
25    31.000000    18.000000  Heart Failure         NaN
26    33.000000    18.000000  Heart Failure         NaN
27    40.000000    18.000000  Heart Failure         NaN
28    70.000000    18.000000  Heart Failure         NaN
29    90.000000    18.000000  Heart Failure         NaN
..          ...          ...            ...         ...
78    90.000000    35.000000         Normal         NaN
79    93.000000    35.000000         Normal         NaN
80    32.000000    27.000000         Normal         NaN
81    31.000000    27.000000         Normal         NaN
82    33.000000    27.000000         Normal         NaN
83    40.000000    27.000000         Normal         NaN
84    70.000000    27.000000         Normal         NaN
85    90.000000    27.000000         Normal         NaN
86    93.000000    27.000000         Normal         NaN
87    32.000000    70.000000         Normal         NaN
88    31.000000    70.000000         Normal         NaN
89    33.000000    70.000000         Normal         NaN
90    40.000000    70.000000         Normal         NaN
91    70.000000    70.000000         Normal         NaN
92    90.000000    70.000000         Normal         NaN
93    93.000000    70.000000         Normal         NaN
94    32.000000    67.000000         Normal         NaN
95    31.000000    67.000000         Normal         NaN
96    33.000000    67.000000         Normal         NaN
97    40.000000    67.000000         Normal         NaN
98    70.000000    67.000000         Normal         NaN
99    90.000000    67.000000         Normal         NaN
100   93.000000    67.000000         Normal         NaN
101   32.000000    54.000000         Normal         NaN
102   31.000000    54.000000         Normal         NaN
103   33.000000    54.000000         Normal         NaN
104   40.000000    54.000000         Normal         NaN
105   70.000000    54.000000         Normal         NaN
106   90.000000    54.000000         Normal         NaN
107   93.000000    54.000000         Normal         NaN

[108 rows x 4 columns]

In [33]:
import random
def splitDataset(dataset, splitRatio):
    trainSize = int(len(dataset) * splitRatio)
    trainSet = []
    copy = list(dataset)
    while len(trainSet) < trainSize:
        index = random.randrange(len(copy))
        trainSet.append(copy.pop(index))
    return [trainSet, copy]

In [39]:
from sklearn.model_selection import train_test_split

X=data[['SDNN', 'RMSSD']]  # Features
y=data['Result']


print(y)

0      Heart Failure
1      Heart Failure
2      Heart Failure
3      Heart Failure
4      Heart Failure
5      Heart Failure
6      Heart Failure
7      Heart Failure
8             Normal
9      Heart Failure
10     Heart Failure
11     Heart Failure
12     Heart Failure
13     Heart Failure
14     Heart Failure
15     Heart Failure
16     Heart Failure
17            Normal
18     Heart Failure
19            Normal
20            Normal
21            Normal
22            Normal
23            Normal
24     Heart Failure
25     Heart Failure
26     Heart Failure
27     Heart Failure
28     Heart Failure
29     Heart Failure
           ...
78            Normal
79            Normal
80            Normal
81            Normal
82            Normal
83            Normal
84            Normal
85            Normal
86            Normal
87            Normal
88            Normal
89            Normal
90            Normal
91            Normal
92            Normal
93            Normal
94            Normal
95            Normal
96            Normal
97            Normal
98            Normal
99            Normal
100           Normal
101           Normal
102           Normal
103           Normal
104           Normal
105           Normal
106           Normal
107           Normal
Name: Result, Length: 108, dtype: object

In [40]:
print(X)

           SDNN        RMSSD
0      4.405678     7.280110
1     14.950883    26.416986
2      1.959592     3.431877
3    179.066021   283.322353
4      0.892103     1.346291
5    686.500000  1373.000000
6      4.197773     6.794606
7      4.955805     8.048464
8     34.919942    52.060862
9      3.716401     6.315765
10     1.682394     1.968502
11    16.000000    12.000000
12    19.000000    19.000000
13    94.000000    19.000000
14    93.000000    18.000000
15    32.000000    18.000000
16    32.000000    76.000000
17    32.000000    19.000000
18    31.000000    19.000000
19    33.000000    19.000000
20    40.000000    19.000000
21    70.000000    19.000000
22    90.000000    19.000000
23    93.000000    19.000000
24    32.000000    18.000000
25    31.000000    18.000000
26    33.000000    18.000000
27    40.000000    18.000000
28    70.000000    18.000000
29    90.000000    18.000000
..          ...          ...
78    90.000000    35.000000
79    93.000000    35.000000
80    32.000000    27.000000
81    31.000000    27.000000
82    33.000000    27.000000
83    40.000000    27.000000
84    70.000000    27.000000
85    90.000000    27.000000
86    93.000000    27.000000
87    32.000000    70.000000
88    31.000000    70.000000
89    33.000000    70.000000
90    40.000000    70.000000
91    70.000000    70.000000
92    90.000000    70.000000
93    93.000000    70.000000
94    32.000000    67.000000
95    31.000000    67.000000
96    33.000000    67.000000
97    40.000000    67.000000
98    70.000000    67.000000
99    90.000000    67.000000
100   93.000000    67.000000
101   32.000000    54.000000
102   31.000000    54.000000
103   33.000000    54.000000
104   40.000000    54.000000
105   70.000000    54.000000
106   90.000000    54.000000
107   93.000000    54.000000

[108 rows x 2 columns]

In [38]:
def separateByClass(dataset):
    separated = {}
    for i in range(len(dataset)):
        vector = dataset[i]
        if (vector[-1] not in separated):
            separated[vector[-1]] = []
        separated[vector[-1]].append(vector)
    return separated
from sklearn import metrics

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)

In [37]:
import math
def mean(numbers):
    return sum(numbers)/float(len(numbers))

def stdev(numbers):
    avg = mean(numbers)
    variance = sum([pow(x-avg,2) for x in numbers])/float(len(numbers)-1)
    return math.sqrt(variance)
import numpy as np
from sklearn.naive_bayes import GaussianNB

In [ ]:
def calculateClassProbabilities(summaries, inputVector):
probabilities = {}
    for classValue, classSummaries in summaries.iteritems():
        probabilities[classValue] = 1
        for i in range(len(classSummaries)):
            mean, stdev = classSummaries[i]
            x = inputVector[i]
            probabilities[classValue] *= calculateProbability(x, mean, stdev)
    return probabilities

In [42]:
clf = GaussianNB()
clf.fit(X_train,y_train);
GaussianNB(priors=None, var_smoothing=1e-09)
a=clf.predict(X_test)


# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, a))

Accuracy: 0.6363636363636364